body {
	color: white;
	background: gray;
	text-align: center;
}

.container{
	width: 90%;
	text-align: center;
}

.description{
	float: left;
	background: brown;
	color: black;
	padding: 10px;
	min-height: 300px;
}
